<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Título</th>
    <th>Categoría</th>
    <th>Descripción</th>
    <th>Explicación Visual</th>
    <th>Acciones</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="entrenamiento : ${entrenamientos}">
    <td th:text="${entrenamiento.id}"></td>
    <td th:text="${entrenamiento.titulo}"></td>
    <td th:text="${entrenamiento.categoria}"></td>
    <td th:text="${entrenamiento.descripcion}"></td>
    <td>
      <a th:href="${entrenamiento.explicacionVisual}" target="_blank" th:text="${entrenamiento.explicacionVisual}"></a>
    </td>
    <td>
      <a th:href="@{/entrenamientos/editar/{id}(id=${entrenamiento.id})}">Editar</a>
      <a th:href="@{/entrenamientos/eliminar/{id}(id=${entrenamiento.id})}">Eliminar</a>
    </td>
  </tr>
  </tbody>
</table>